.button {
  background-color: #2fc0a6;
  color: #ffffff;
  text-transform: uppercase;
  width: 185px;
  height: 43px;
  border-radius: 30px;
  outline: none;
  font-size: 1.3em;
  font-weight: 100;
}
