$tile-size: 65px;
$tile-border: 5px;
$gameboard-columns: 5;
$gameboard-rows: 5;
$gameboard-width: ($tile-size + ($tile-border * 2)) * $gameboard-columns;
$gameboard-height:  ($tile-size + ($tile-border * 2)) * $gameboard-rows;
.gameboard {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: - ($gameboard-width / 2);
  margin-top: - ($gameboard-height / 2);
  width: $gameboard-width;
  height: $gameboard-height;

  &__tile {
    float: left;
    width: $tile-size;
    height: $tile-size;
    border: $tile-border solid #e7e7ea;
  }
}
