body, html {
  font-family: sans-serif
}

@import "gameboard";
@import "header";
@import "game";
@import "footer";
@import "footer";
@import "button";
@import "tile";
@import "counter";

.title {
  text-transform: uppercase;
  color: #909095;
  font-weight: 300;
}

.link {
  color: #e390c3;
  text-transform: uppercase;
}
