// config
$game-width: 470px;
$game-height: 536px;

$header-height: 70px;
$header-width: 100%;
$header-bg: #ffffff;

$title-color: #909095;
$title-font: sans-serif;

$gamefield-rows: 5;
$gamefield-columns: 5;
$gamefield-grid-color: #e7e7ea;
$gamefield-gap: 5px;

$pattern-size: 65px;
$pattern-bg: #ececee;


$game-shadow-color: rgba(0,0,0,0.32);

$button-radius: 30px;

// styles
.game-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.game {
  width: $game-width;
  height: $game-height;
  
  // shadow
  -webkit-box-shadow: 0px 0px 4px 2px $game-shadow-color;
  -moz-box-shadow: 0px 0px 4px 2px $game-shadow-color;
  box-shadow: 0px 0px 4px 2px $game-shadow-color;
}

.header {
  display: flex;
  background-color: $header-bg;
  width: $header-width;
  height: $header-height;
  align-items: center;
  justify-content: center;
}

.action {
  text-transform: uppercase;
  color: #e390c3
}

.title {
  display: flex;
  color: $title-color;
  text-transform: uppercase;
  font-family: $title-font;
}

.gameField {
  display: grid;
  width: (($pattern-size + $gamefield-gap) * $gamefield-columns) - $gamefield-gap;
  height: ($pattern-size + $gamefield-gap) * $gamefield-rows;
  background-color: $gamefield-grid-color;

  // $pattern-size
  grid-template-columns: 65px 65px 65px 65px 65px;
  grid-gap: $gamefield-gap;
  border: $gamefield-gap solid $gamefield-grid-color;
}

.gameField-wrapper {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: $pattern-bg
}

.pattern {
  width: $pattern-size;
  height: $pattern-size;
  background-color: $pattern-bg;
}

.pattern--on {
  background-color: #8a85be;
}

.pattern--victory {
  background-color: lightblue;
}

.button {
  background-color: #2fc0a6;
  color: #ffffff;
  text-transform: uppercase;

  height: 43px;
  width: 185px;

  border-radius: $button-radius;
  outline: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
}

.footer__text {
  text-transform: uppercase;
}
